.awakener3d-container {
    position: relative;
}

.awakener3d-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
}

.awakening-3d {
    position: relative;
    left: calc( 50% - 200px );
    top: 0;
    width: 400px;
    height: 400px;
}

.awakening-2d {
    position: absolute;
    left: calc( 50% - 200px );
    top: 0;
    width: 400px;
    height: 400px;
}

.awakening-unit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -84%);
}

.awekening-material {
    position: absolute;
}

.awekening-material.one {
    left: 190px;
    top: 244px;
}

.awekening-material.two {
    left: 45px;
    top: 195px;
}

.awekening-material.three {
    left: 120px;
    top: 141px;
}

.awekening-material.four {
    left: 260px;
    top: 141px;
}

.awekening-material.five {
    left: 328px;
    top: 195px;
}

.fade-from-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    background-color: white;
}

