
.awakener3d-popup-container {
    position: fixed;
}

.awakener3d-popup-container.hidden {
    display: none;
}

.awakener3d-popup-black {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index: 80;
}

.awakener3d-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}


.awakener3d-container {
    position: relative;
}


.awakening-3d {
    position: relative;
    left: calc( 50% - 200px );
    top: 0;
    width: 400px;
    height: 400px;
}

.awakening-2d {
    position: absolute;
    left: calc( 50% - 200px );
    top: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.awakening-unit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -84%);
}

.awekening-material {
    position: absolute;
}

.awekening-material.one {
    left: 190px;
    top: 244px;
}

.awekening-material.two {
    left: 45px;
    top: 195px;
}

.awekening-material.three {
    left: 120px;
    top: 141px;
}

.awekening-material.four {
    left: 260px;
    top: 141px;
}

.awekening-material.five {
    left: 328px;
    top: 195px;
}

.fade-from-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    background-color: white;
    pointer-events: none;
}

.glow-effect {
    position: absolute;
    width:  20px;
    height: 20px;
    border-radius: 20px;
    background-color: #f8fa81;
    box-shadow: 0px 0px 20px 16px #f8fa81;
    opacity: 0.0;
    transform-origin: 10px 20px;
    animation-duration: 0s;
}

.glow-effect.one {
    left: 190px;
    top: 244px;
}
.glow-effect.two {
    left: 45px;
    top: 195px;
}
.glow-effect.three {
    left: 120px;
    top: 141px;
}
.glow-effect.four {
    left: 260px;
    top: 141px;
}
.glow-effect.five {
    left: 328px;
    top: 195px;
}

.glow-effect.animate {
    animation-name: glow-animation-frames;
    animation-duration: 2.8s;
}

@keyframes glow-animation-frames {
    40%  {
            animation-timing-function: ease-out;
            transform: scale(1,1);
            opacity: 0.5;
         }
    60%  {
            animation-timing-function: ease-out;
            transform: scale(1.3, 5);
            opacity: 0.8;
         }
    80% {
            animation-timing-function: ease-in;
            transform: scale(2.6, 10);
            opacity: 0;
         }
}


/* Frame container */
.frame-border {
    position: absolute;
    left: calc( 50% - 200px );
    top: 0;
    width: 400px;
    height: 400px;
}

/* Frame corners */

.frame-border .top-left {
    position: absolute;
    left: calc( 50% - 200px - 8px );
    top: -7px;
}

.frame-border .top-right {
    position: absolute;
    left: calc( 50% + 200px - 44px );
    top: -7px;
    transform: scaleX(-1);
}

.frame-border .bottom-right {
    position: absolute;
    left: calc( 50% + 200px - 44px );
    top: calc( 400px - 44px );
    transform: scale(-1, -1);
}

.frame-border .bottom-left {
    position: absolute;
    left: calc( 50% - 200px - 8px );
    top: calc( 400px - 44px );
    transform: scaleY(-1);
}

/* Frame borders */

.frame-border .border {
    background-color: #a2a3a8;
    border: solid 1px #323f75;
}

.frame-border .top {
    position: absolute;
    left: calc( 50% - 200px );
    top: -3px;
    width: 400px;
    height: 5px;
}

.frame-border .bottom {
    position: absolute;
    left: calc( 50% - 200px );
    top: calc( 400px - 4px );
    width: 400px;
    height: 5px;
}

.frame-border .right {
    position: absolute;
    left: calc( 50% + 200px - 3px );
    top: 0;
    width: 5px;
    height: 400px;
}

.frame-border .left {
    position: absolute;
    left: calc( 50% - 200px - 4px );
    top: 0;
    width: 5px;
    height: 400px;
}