.Choose-Summon-Container {
    display: flex;
    overflow-x: scroll;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 10px;
    border: solid 2px gainsboro;
    background-color: white;
    padding: 4px 0;
}

.Choose-Summon-Option {
    cursor: pointer;
    align-self: center;
    border: solid 1px white;
}

.Choose-Summon-Option:hover {
    border: solid 1px #42b71d;
    border-radius: 10px;
}
