.SummonFilterContainer {
    width: 90%;
    margin-left: 5%;
}

.SummonFilterButtonContainer {
    
}

.SummonFilterButton {
	background-color:#44c767;
	border-radius:16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	border:1px solid #18ab29;
    border-bottom: 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 9px 32px;
	text-decoration:none;
    outline: none;
	text-shadow:0px 1px 0px #2f6627;
}

.SummonFilterButton:active {
	position:relative;
	top:1px;
}

.SummonFilterOrigin {
    transition: all .2s ease-in-out;
    max-height: 80px;
    width: 86%;
    margin-left: 7%;
    border: solid 1px #18ab29;
    border-radius: 20px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    overflow-x: scroll;
    background-color: #44c767;
    padding: 0;
    font-family:Arial;
	font-size:17px;
    outline: none;
}

.SummonFilterOrigin.close {
    max-height: 0;
    border: 0;
}

.SummonFilterOriginButton {
    cursor:pointer;
    background-color: white;
    border: solid 1px #18ab29;
    border-radius: 20px;
    font-size: 14px;
}

.SummonFilterOriginButton:hover {
    background-color: gray;
}

.SummonFilterOriginButton.active {
    background-color: blue;
}