.centerTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tableCell {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

.tc-planner {
    font-size: 20px;
}

.tc-okay {
    background-color: #b4f74d;
}

.tc-missing {
    background-color: #ef9a9a;
}

.tableCellImage {
    max-width: 78px;
}

.MyStashHeader {
    margin-top: 24px;
}